<p id="notice"><%= notice %></p>

<p>
  <strong>Stage:</strong>
  <%= @building_stage.stage %>
</p>

<%= link_to 'Edit', edit_building_stage_path(@building_stage) %> |
<%= link_to 'Back', building_stages_path %>
