<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @guide_section.title %>
</p>

<%= link_to 'Edit', edit_guide_section_path(@guide_section) %> |
<%= link_to 'Back', guide_sections_path %>
