/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require trix
 *= require_tree .
 *= require_self

 */


 h1 {
  margin: 30px 5px 50px 5px;
  font-size: 2.5em;

 }

 a {
   text-decoration: none;
   color: blue;
 }

#columns {
  display: flex;

  #main {
    padding: 1em;
    flex: 1;
  }

  #side {
    padding: 3em 3em;

    ul {
      padding: 0;

      li {
        padding: .5em 0;
        list-style: none;

        a {
          font-size: small;
        }
      }
    }
  }
}

.guides {
  
  dt {
    font-weight: bold;
    font-size: 1.5em;
    margin: 10px
  }

  dd {
    font-size: 1.2em;
  }

  dd.new {
    font-size: small;
  }


}



/* TRIX SHIT
.attachment__caption {
	display: none;
}

.attachment__size {
	display: none;
}

.attachment__name {
	display: none;
}{
	display: none;
}

.attachment__caption-editor {
	display: none;
}

.attachment__remove {
	display: none;
}

.attachment #span {
	display: none;
}
*/

.attachment .caption {
    display: block;
    margin: 4px auto 0 auto;
    padding: 0;
    text-align: center;
}

.attachment .caption {
    display: block;
    margin: 4px auto 0 auto;
    padding: 0;
    text-align: center;
}

trix-editor .attachment .remove {
  display: table !important;
  position: relative !important;
  margin: 0 auto !important;
  font-size: 12px !important;
  width: auto !important;
  padding: 0px 10px !important;
  height: 24px !important;
  top: 0px !important;
  right: 0px !important;
}